.article-topic__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 53px 25px;
}

.article-topic__list .card-article {
    padding: 0;
    max-width: 100%;
}

.article-topic__list .card-article .image {
    border-radius: 10px;
}