
.main-slider {
    margin-bottom: 100px;
}

.main-slider .slider__item {
    position: relative;
}

.main-slider .slider__item > div {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 150px;
}

.main-slider .slider__item > div > h1 {
    font-size: 3.4rem;
    color: var(--color-white);
    font-weight: bold;
    line-height: 110%;
}

.main-slider .slider__item > div  .btn-default {
    padding: 0 35px;
}

.main-slider .slider__item > div p {
    margin-bottom: 50px;
    margin-top: 25px;
    font-size: 1.1rem;
    color: var(--color-white);
}


.main-slider .slider__item > div > div {
    position: relative;
}

.main-slider .slider__item > div svg {
    position: absolute;
    bottom: -20px;
    right: 31px;
}

.main-slider .slider__control {
    position: absolute;
    bottom: 69px;
    cursor: pointer;
    z-index: 2;
}

.main-slider .slider__item .image {
    border-radius: 0px 0px 20px 20px;
}

.main-slider .slider__control[data-slide="prev"] {
    left: 25px;
}

.main-slider .slider__control[data-slide="next"] {
    right: 25px;
}






.all-news-sliders__content {
    display: flex;
    justify-content: space-between;
}

.all-news-sliders__content > div {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 7px;
    margin-right: 11px;
}

.all-news-sliders__content-cards .slider__item {
    padding: 5px;
}

.all-news-sliders__content-cards .card-article  {
    border-color: var(--color-dark-gray);
    height: 415px;
}






.local-news-channel__headline {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.local-news-channel__headline .headline {
    margin-right: 80px;
    margin-bottom: 0;
}

.local-news-channel__constituencies {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.local-news-channel__constituencies span {
    margin-right: 10px;
    margin-left: 20px;
}

.local-news-channel__content .slider__item{
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.local-news-channel__content .card-article {
    height: 400px;
}

.useful-news{
    background-color: var(--color-white-l2);
    padding: 90px 0;
}

.useful-news__link{
    font-size: 1.4rem;
    font-weight: 700; 
    background-color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px; 
    padding: 30px 0;
    border-radius: 10px;
}

.useful-news__headline{
    font-weight: var(--text-bold);
    font-size: 1.4rem;
}

.useful-news__content{
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 335px));
    grid-gap: 25px;
    margin-top: 45px;
}

.state-document__headline{
    font-weight: bolder;
    font-size: 1.4rem;
}

.state-document__top{
    display: flex;
    gap: 15px;
}








